{{ define "page-posts" }}
{{ $postSlugs := .PostSlugs }}
{{ $postTitles := .PostTitles }}
{{ $postDates := .PostDates }}
<div class="main">
  <section>
    <ul class="posts">
      {{ range $postSlugs }}
        {{ $slug := . }}
        <li class="posts__item">
          <a class="posts__link link" data-text="{{ index $postTitles $slug }}" href="/{{ $slug }}">{{ index $postTitles $slug }}</a>
          <span class="posts__date">
            <time datetime="{{ index $postDates $slug }}">{{ index $postDates $slug }}</time>
          </span>
        </li>
      {{ end }}
    </ul>
  </section>
</div>
{{ end }}
