{{ define "page-posts" }}
<div class="main">
  <section>
    <ul class="posts">
      <li class="posts__item">
        <a class="posts__link link" data-text="Post 1" href="#">Post 1</a>
        <span class="posts__date">
          <time datetime="2019-02-20">Feb 20, 2019</time>
        </span>
      </li>
      <li class="posts__item">
        <a class="posts__link link" data-text="Post 1" href="#">Post 1</a>
        <span class="posts__date">
          <time datetime="2019-02-20">Feb 20, 2019</time>
        </span>
      </li>
      <li class="posts__item">
        <a class="posts__link link" data-text="Post 1" href="#">Post 1</a>
        <span class="posts__date">
          <time datetime="2019-02-20">Feb 20, 2019</time>
        </span>
      </li>
      <li class="posts__item">
        <a class="posts__link link" data-text="Post 1" href="#">Post 1</a>
        <span class="posts__date">
          <time datetime="2019-02-20">Feb 20, 2019</time>
        </span>
      </li>
      <li class="posts__item">
        <a class="posts__link link" data-text="Post 1" href="#">Post 1</a>
        <span class="posts__date">
          <time datetime="2019-02-20">Feb 20, 2019</time>
        </span>
      </li>
      <li class="posts__item">
        <a class="posts__link link" data-text="Post 1" href="#">Post 1</a>
        <span class="posts__date">
          <time datetime="2019-02-20">Feb 20, 2019</time>
        </span>
      </li>
      <li class="posts__item">
        <a class="posts__link link" data-text="Post 1" href="#">Post 1</a>
        <span class="posts__date">
          <time datetime="2019-02-20">Feb 20, 2019</time>
        </span>
      </li>
      <li class="posts__item">
        <a class="posts__link link" data-text="Post 1" href="#">Post 1</a>
        <span class="posts__date">
          <time datetime="2019-02-20">Feb 20, 2019</time>
        </span>
      </li>
      <li class="posts__item">
        <a class="posts__link link" data-text="Post 1" href="#">Post 1</a>
        <span class="posts__date">
          <time datetime="2019-02-20">Feb 20, 2019</time>
        </span>
      </li>
      <li class="posts__item">
        <a class="posts__link link" data-text="Post 1" href="#">Post 1</a>
        <span class="posts__date">
          <time datetime="2019-02-20">Feb 20, 2019</time>
        </span>
      </li>
      <li class="posts__item">
        <a class="posts__link link" data-text="Post 1" href="#">Post 1</a>
        <span class="posts__date">
          <time datetime="2019-02-20">Feb 20, 2019</time>
        </span>
      </li>
      <li class="posts__item">
        <a class="posts__link link" data-text="Post 1" href="#">Post 1</a>
        <span class="posts__date">
          <time datetime="2019-02-20">Feb 20, 2019</time>
        </span>
      </li>
      <li class="posts__item">
        <a class="posts__link link" data-text="Post 1" href="#">Post 1</a>
        <span class="posts__date">
          <time datetime="2019-02-20">Feb 20, 2019</time>
        </span>
      </li>
      <li class="posts__item">
        <a class="posts__link link" data-text="Post 1" href="#">Post 1</a>
        <span class="posts__date">
          <time datetime="2019-02-20">Feb 20, 2019</time>
        </span>
      </li>
      <li class="posts__item">
        <a class="posts__link link" data-text="Post 1" href="#">Post 1</a>
        <span class="posts__date">
          <time datetime="2019-02-20">Feb 20, 2019</time>
        </span>
      </li>
      <li class="posts__item">
        <a class="posts__link link" data-text="Post 1" href="#">Post 1</a>
        <span class="posts__date">
          <time datetime="2019-02-20">Feb 20, 2019</time>
        </span>
      </li>
      <li class="posts__item">
        <a class="posts__link link" data-text="Post 1" href="#">Post 1</a>
        <span class="posts__date">
          <time datetime="2019-02-20">Feb 20, 2019</time>
        </span>
      </li>
      <li class="posts__item">
        <a class="posts__link link" data-text="Post 1" href="#">Post 1</a>
        <span class="posts__date">
          <time datetime="2019-02-20">Feb 20, 2019</time>
        </span>
      </li>
      <li class="posts__item">
        <a class="posts__link link" data-text="Post 1" href="#">Post 1</a>
        <span class="posts__date">
          <time datetime="2019-02-20">Feb 20, 2019</time>
        </span>
      </li>
      <li class="posts__item">
        <a class="posts__link link" data-text="Post 1" href="#">Post 1</a>
        <span class="posts__date">
          <time datetime="2019-02-20">Feb 20, 2019</time>
        </span>
      </li>
      <li class="posts__item">
        <a class="posts__link link" data-text="Post 1" href="#">Post 1</a>
        <span class="posts__date">
          <time datetime="2019-02-20">Feb 20, 2019</time>
        </span>
      </li>
      <li class="posts__item">
        <a class="posts__link link" data-text="Post 1" href="#">Post 1</a>
        <span class="posts__date">
          <time datetime="2019-02-20">Feb 20, 2019</time>
        </span>
      </li>
      <li class="posts__item">
        <a class="posts__link link" data-text="Post 1" href="#">Post 1</a>
        <span class="posts__date">
          <time datetime="2019-02-20">Feb 20, 2019</time>
        </span>
      </li>
      <li class="posts__item">
        <a class="posts__link link" data-text="Post 1" href="#">Post 1</a>
        <span class="posts__date">
          <time datetime="2019-02-20">Feb 20, 2019</time>
        </span>
      </li>
      <li class="posts__item">
        <a class="posts__link link" data-text="Post 1" href="#">Post 1</a>
        <span class="posts__date">
          <time datetime="2019-02-20">Feb 20, 2019</time>
        </span>
      </li>
      <li class="posts__item">
        <a class="posts__link link" data-text="Post 1" href="#">Post 1</a>
        <span class="posts__date">
          <time datetime="2019-02-20">Feb 20, 2019</time>
        </span>
      </li>
      <li class="posts__item">
        <a class="posts__link link" data-text="Post 1" href="#">Post 1</a>
        <span class="posts__date">
          <time datetime="2019-02-20">Feb 20, 2019</time>
        </span>
      </li>
      <li class="posts__item">
        <a class="posts__link link" data-text="Post 1" href="#">Post 1</a>
        <span class="posts__date">
          <time datetime="2019-02-20">Feb 20, 2019</time>
        </span>
      </li>
      <li class="posts__item">
        <a class="posts__link link" data-text="Post 1" href="#">Post 1</a>
        <span class="posts__date">
          <time datetime="2019-02-20">Feb 20, 2019</time>
        </span>
      </li>
      <li class="posts__item">
        <a class="posts__link link" data-text="Post 1" href="#">Post 1</a>
        <span class="posts__date">
          <time datetime="2019-02-20">Feb 20, 2019</time>
        </span>
      </li>
      <li class="posts__item">
        <a class="posts__link link" data-text="Post 1" href="#">Post 1</a>
        <span class="posts__date">
          <time datetime="2019-02-20">Feb 20, 2019</time>
        </span>
      </li>
      <li class="posts__item">
        <a class="posts__link link" data-text="Post 1" href="#">Post 1</a>
        <span class="posts__date">
          <time datetime="2019-02-20">Feb 20, 2019</time>
        </span>
      </li>
      <li class="posts__item">
        <a class="posts__link link" data-text="Post 1" href="#">Post 1</a>
        <span class="posts__date">
          <time datetime="2019-02-20">Feb 20, 2019</time>
        </span>
      </li>
      <li class="posts__item">
        <a class="posts__link link" data-text="Post 1" href="#">Post 1</a>
        <span class="posts__date">
          <time datetime="2019-02-20">Feb 20, 2019</time>
        </span>
      </li>
      <li class="posts__item">
        <a class="posts__link link" data-text="Post 1" href="#">Post 1</a>
        <span class="posts__date">
          <time datetime="2019-02-20">Feb 20, 2019</time>
        </span>
      </li>
      <li class="posts__item">
        <a class="posts__link link" data-text="Post 1" href="#">Post 1</a>
        <span class="posts__date">
          <time datetime="2019-02-20">Feb 20, 2019</time>
        </span>
      </li>
      <li class="posts__item">
        <a class="posts__link link" data-text="Post 1" href="#">Post 1</a>
        <span class="posts__date">
          <time datetime="2019-02-20">Feb 20, 2019</time>
        </span>
      </li>
      <li class="posts__item">
        <a class="posts__link link" data-text="Post 1" href="#">Post 1</a>
        <span class="posts__date">
          <time datetime="2019-02-20">Feb 20, 2019</time>
        </span>
      </li>
      <li class="posts__item">
        <a class="posts__link link" data-text="Post 1" href="#">Post 1</a>
        <span class="posts__date">
          <time datetime="2019-02-20">Feb 20, 2019</time>
        </span>
      </li>
      <li class="posts__item">
        <a class="posts__link link" data-text="Post 1" href="#">Post 1</a>
        <span class="posts__date">
          <time datetime="2019-02-20">Feb 20, 2019</time>
        </span>
      </li>
      <li class="posts__item">
        <a class="posts__link link" data-text="Post 1" href="#">Post 1</a>
        <span class="posts__date">
          <time datetime="2019-02-20">Feb 20, 2019</time>
        </span>
      </li>
      <li class="posts__item">
        <a class="posts__link link" data-text="Post 1" href="#">Post 1</a>
        <span class="posts__date">
          <time datetime="2019-02-20">Feb 20, 2019</time>
        </span>
      </li>
      <li class="posts__item">
        <a class="posts__link link" data-text="Post 1" href="#">Post 1</a>
        <span class="posts__date">
          <time datetime="2019-02-20">Feb 20, 2019</time>
        </span>
      </li>
      <li class="posts__item">
        <a class="posts__link link" data-text="Post 1" href="#">Post 1</a>
        <span class="posts__date">
          <time datetime="2019-02-20">Feb 20, 2019</time>
        </span>
      </li>
      <li class="posts__item">
        <a class="posts__link link" data-text="Post 1" href="#">Post 1</a>
        <span class="posts__date">
          <time datetime="2019-02-20">Feb 20, 2019</time>
        </span>
      </li>
      <li class="posts__item">
        <a class="posts__link link" data-text="Post 1" href="#">Post 1</a>
        <span class="posts__date">
          <time datetime="2019-02-20">Feb 20, 2019</time>
        </span>
      </li>
      <li class="posts__item">
        <a class="posts__link link" data-text="Post 1" href="#">Post 1</a>
        <span class="posts__date">
          <time datetime="2019-02-20">Feb 20, 2019</time>
        </span>
      </li>
      <li class="posts__item">
        <a class="posts__link link" data-text="Post 1" href="#">Post 1</a>
        <span class="posts__date">
          <time datetime="2019-02-20">Feb 20, 2019</time>
        </span>
      </li>
      <li class="posts__item">
        <a class="posts__link link" data-text="Post 1" href="#">Post 1</a>
        <span class="posts__date">
          <time datetime="2019-02-20">Feb 20, 2019</time>
        </span>
      </li>
      <li class="posts__item">
        <a class="posts__link link" data-text="Post 1" href="#">Post 1</a>
        <span class="posts__date">
          <time datetime="2019-02-20">Feb 20, 2019</time>
        </span>
      </li>
      <li class="posts__item">
        <a class="posts__link link" data-text="Post 1" href="#">Post 1</a>
        <span class="posts__date">
          <time datetime="2019-02-20">Feb 20, 2019</time>
        </span>
      </li>
      <li class="posts__item">
        <a class="posts__link link" data-text="Post 1" href="#">Post 1</a>
        <span class="posts__date">
          <time datetime="2019-02-20">Feb 20, 2019</time>
        </span>
      </li>
      <li class="posts__item">
        <a class="posts__link link" data-text="Post 1" href="#">Post 1</a>
        <span class="posts__date">
          <time datetime="2019-02-20">Feb 20, 2019</time>
        </span>
      </li>
      <li class="posts__item">
        <a class="posts__link link" data-text="Post 1" href="#">Post 1</a>
        <span class="posts__date">
          <time datetime="2019-02-20">Feb 20, 2019</time>
        </span>
      </li>
      <li class="posts__item">
        <a class="posts__link link" data-text="Post 1" href="#">Post 1</a>
        <span class="posts__date">
          <time datetime="2019-02-20">Feb 20, 2019</time>
        </span>
      </li>
      <li class="posts__item">
        <a class="posts__link link" data-text="Post 1" href="#">Post 1</a>
        <span class="posts__date">
          <time datetime="2019-02-20">Feb 20, 2019</time>
        </span>
      </li>
      <li class="posts__item">
        <a class="posts__link link" data-text="Post 1" href="#">Post 1</a>
        <span class="posts__date">
          <time datetime="2019-02-20">Feb 20, 2019</time>
        </span>
      </li>
      <li class="posts__item">
        <a class="posts__link link" data-text="Post 1" href="#">Post 1</a>
        <span class="posts__date">
          <time datetime="2019-02-20">Feb 20, 2019</time>
        </span>
      </li>
      <li class="posts__item">
        <a class="posts__link link" data-text="Post 1" href="#">Post 1</a>
        <span class="posts__date">
          <time datetime="2019-02-20">Feb 20, 2019</time>
        </span>
      </li>
      <li class="posts__item">
        <a class="posts__link link" data-text="Post 1" href="#">Post 1</a>
        <span class="posts__date">
          <time datetime="2019-02-20">Feb 20, 2019</time>
        </span>
      </li>
      <li class="posts__item">
        <a class="posts__link link" data-text="Post 1" href="#">Post 1</a>
        <span class="posts__date">
          <time datetime="2019-02-20">Feb 20, 2019</time>
        </span>
      </li>
    </ul>
  </section>
</div>
{{ end }}
