{{ define "page-posts" }}
<div class="main">
  <section>
    <ul class="posts">
      <li class="posts__item">
        <a class="posts__link link" data-text="Post 1" href="/post/1">Post 1</a>
        <span class="posts__date">
          <time datetime="2019-02">2019-02</time>
        </span>
      </li>
      <li class="posts__item">
        <a class="posts__link link" data-text="Post 1" href="/post/1">Post 1</a>
        <span class="posts__date">
          <time datetime="2019-02">2019-02</time>
        </span>
      </li>
      <li class="posts__item">
        <a class="posts__link link" data-text="Post 1" href="/post/1">Post 1</a>
        <span class="posts__date">
          <time datetime="2019-02">2019-02</time>
        </span>
      </li>
      <li class="posts__item">
        <a class="posts__link link" data-text="Post 1" href="/post/1">Post 1</a>
        <span class="posts__date">
          <time datetime="2019-02">2019-02</time>
        </span>
      </li>
      <li class="posts__item">
        <a class="posts__link link" data-text="Post 1" href="/post/1">Post 1</a>
        <span class="posts__date">
          <time datetime="2019-02">2019-02</time>
        </span>
      </li>
      <li class="posts__item">
        <a class="posts__link link" data-text="Post 1" href="/post/1">Post 1</a>
        <span class="posts__date">
          <time datetime="2019-02">2019-02</time>
        </span>
      </li>
      <li class="posts__item">
        <a class="posts__link link" data-text="Post 1" href="/post/1">Post 1</a>
        <span class="posts__date">
          <time datetime="2019-02">2019-02</time>
        </span>
      </li>
      <li class="posts__item">
        <a class="posts__link link" data-text="Post 1" href="/post/1">Post 1</a>
        <span class="posts__date">
          <time datetime="2019-02">2019-02</time>
        </span>
      </li>
      <li class="posts__item">
        <a class="posts__link link" data-text="Post 1" href="/post/1">Post 1</a>
        <span class="posts__date">
          <time datetime="2019-02">2019-02</time>
        </span>
      </li>
      <li class="posts__item">
        <a class="posts__link link" data-text="Post 1" href="/post/1">Post 1</a>
        <span class="posts__date">
          <time datetime="2019-02">2019-02</time>
        </span>
      </li>
      <li class="posts__item">
        <a class="posts__link link" data-text="Post 1" href="/post/1">Post 1</a>
        <span class="posts__date">
          <time datetime="2019-02">2019-02</time>
        </span>
      </li>
      <li class="posts__item">
        <a class="posts__link link" data-text="Post 1" href="/post/1">Post 1</a>
        <span class="posts__date">
          <time datetime="2019-02">2019-02</time>
        </span>
      </li>
      <li class="posts__item">
        <a class="posts__link link" data-text="Post 1" href="/post/1">Post 1</a>
        <span class="posts__date">
          <time datetime="2019-02">2019-02</time>
        </span>
      </li>
      <li class="posts__item">
        <a class="posts__link link" data-text="Post 1" href="/post/1">Post 1</a>
        <span class="posts__date">
          <time datetime="2019-02">2019-02</time>
        </span>
      </li>
      <li class="posts__item">
        <a class="posts__link link" data-text="Post 1" href="/post/1">Post 1</a>
        <span class="posts__date">
          <time datetime="2019-02">2019-02</time>
        </span>
      </li>
      <li class="posts__item">
        <a class="posts__link link" data-text="Post 1" href="/post/1">Post 1</a>
        <span class="posts__date">
          <time datetime="2019-02">2019-02</time>
        </span>
      </li>
      <li class="posts__item">
        <a class="posts__link link" data-text="Post 1" href="/post/1">Post 1</a>
        <span class="posts__date">
          <time datetime="2019-02">2019-02</time>
        </span>
      </li>
      <li class="posts__item">
        <a class="posts__link link" data-text="Post 1" href="/post/1">Post 1</a>
        <span class="posts__date">
          <time datetime="2019-02">2019-02</time>
        </span>
      </li>
      <li class="posts__item">
        <a class="posts__link link" data-text="Post 1" href="/post/1">Post 1</a>
        <span class="posts__date">
          <time datetime="2019-02">2019-02</time>
        </span>
      </li>
      <li class="posts__item">
        <a class="posts__link link" data-text="Post 1" href="/post/1">Post 1</a>
        <span class="posts__date">
          <time datetime="2019-02">2019-02</time>
        </span>
      </li>
      <li class="posts__item">
        <a class="posts__link link" data-text="Post 1" href="/post/1">Post 1</a>
        <span class="posts__date">
          <time datetime="2019-02">2019-02</time>
        </span>
      </li>
      <li class="posts__item">
        <a class="posts__link link" data-text="Post 1" href="/post/1">Post 1</a>
        <span class="posts__date">
          <time datetime="2019-02">2019-02</time>
        </span>
      </li>
      <li class="posts__item">
        <a class="posts__link link" data-text="Post 1" href="/post/1">Post 1</a>
        <span class="posts__date">
          <time datetime="2019-02">2019-02</time>
        </span>
      </li>
      <li class="posts__item">
        <a class="posts__link link" data-text="Post 1" href="/post/1">Post 1</a>
        <span class="posts__date">
          <time datetime="2019-02">2019-02</time>
        </span>
      </li>
      <li class="posts__item">
        <a class="posts__link link" data-text="Post 1" href="/post/1">Post 1</a>
        <span class="posts__date">
          <time datetime="2019-02">2019-02</time>
        </span>
      </li>
      <li class="posts__item">
        <a class="posts__link link" data-text="Post 1" href="/post/1">Post 1</a>
        <span class="posts__date">
          <time datetime="2019-02">2019-02</time>
        </span>
      </li>
      <li class="posts__item">
        <a class="posts__link link" data-text="Post 1" href="/post/1">Post 1</a>
        <span class="posts__date">
          <time datetime="2019-02">2019-02</time>
        </span>
      </li>
      <li class="posts__item">
        <a class="posts__link link" data-text="Post 1" href="/post/1">Post 1</a>
        <span class="posts__date">
          <time datetime="2019-02">2019-02</time>
        </span>
      </li>
      <li class="posts__item">
        <a class="posts__link link" data-text="Post 1" href="/post/1">Post 1</a>
        <span class="posts__date">
          <time datetime="2019-02">2019-02</time>
        </span>
      </li>
      <li class="posts__item">
        <a class="posts__link link" data-text="Post 1" href="/post/1">Post 1</a>
        <span class="posts__date">
          <time datetime="2019-02">2019-02</time>
        </span>
      </li>
      <li class="posts__item">
        <a class="posts__link link" data-text="Post 1" href="/post/1">Post 1</a>
        <span class="posts__date">
          <time datetime="2019-02">2019-02</time>
        </span>
      </li>
      <li class="posts__item">
        <a class="posts__link link" data-text="Post 1" href="/post/1">Post 1</a>
        <span class="posts__date">
          <time datetime="2019-02">2019-02</time>
        </span>
      </li>
      <li class="posts__item">
        <a class="posts__link link" data-text="Post 1" href="/post/1">Post 1</a>
        <span class="posts__date">
          <time datetime="2019-02">2019-02</time>
        </span>
      </li>
      <li class="posts__item">
        <a class="posts__link link" data-text="Post 1" href="/post/1">Post 1</a>
        <span class="posts__date">
          <time datetime="2019-02">2019-02</time>
        </span>
      </li>
      <li class="posts__item">
        <a class="posts__link link" data-text="Post 1" href="/post/1">Post 1</a>
        <span class="posts__date">
          <time datetime="2019-02">2019-02</time>
        </span>
      </li>
      <li class="posts__item">
        <a class="posts__link link" data-text="Post 1" href="/post/1">Post 1</a>
        <span class="posts__date">
          <time datetime="2019-02">2019-02</time>
        </span>
      </li>
      <li class="posts__item">
        <a class="posts__link link" data-text="Post 1" href="/post/1">Post 1</a>
        <span class="posts__date">
          <time datetime="2019-02">2019-02</time>
        </span>
      </li>
      <li class="posts__item">
        <a class="posts__link link" data-text="Post 1" href="/post/1">Post 1</a>
        <span class="posts__date">
          <time datetime="2019-02">2019-02</time>
        </span>
      </li>
      <li class="posts__item">
        <a class="posts__link link" data-text="Post 1" href="/post/1">Post 1</a>
        <span class="posts__date">
          <time datetime="2019-02">2019-02</time>
        </span>
      </li>
      <li class="posts__item">
        <a class="posts__link link" data-text="Post 1" href="/post/1">Post 1</a>
        <span class="posts__date">
          <time datetime="2019-02">2019-02</time>
        </span>
      </li>
      <li class="posts__item">
        <a class="posts__link link" data-text="Post 1" href="/post/1">Post 1</a>
        <span class="posts__date">
          <time datetime="2019-02">2019-02</time>
        </span>
      </li>
      <li class="posts__item">
        <a class="posts__link link" data-text="Post 1" href="/post/1">Post 1</a>
        <span class="posts__date">
          <time datetime="2019-02">2019-02</time>
        </span>
      </li>
      <li class="posts__item">
        <a class="posts__link link" data-text="Post 1" href="/post/1">Post 1</a>
        <span class="posts__date">
          <time datetime="2019-02">2019-02</time>
        </span>
      </li>
      <li class="posts__item">
        <a class="posts__link link" data-text="Post 1" href="/post/1">Post 1</a>
        <span class="posts__date">
          <time datetime="2019-02">2019-02</time>
        </span>
      </li>
      <li class="posts__item">
        <a class="posts__link link" data-text="Post 1" href="/post/1">Post 1</a>
        <span class="posts__date">
          <time datetime="2019-02">2019-02</time>
        </span>
      </li>
      <li class="posts__item">
        <a class="posts__link link" data-text="Post 1" href="/post/1">Post 1</a>
        <span class="posts__date">
          <time datetime="2019-02">2019-02</time>
        </span>
      </li>
      <li class="posts__item">
        <a class="posts__link link" data-text="Post 1" href="/post/1">Post 1</a>
        <span class="posts__date">
          <time datetime="2019-02">2019-02</time>
        </span>
      </li>
      <li class="posts__item">
        <a class="posts__link link" data-text="Post 1" href="/post/1">Post 1</a>
        <span class="posts__date">
          <time datetime="2019-02">2019-02</time>
        </span>
      </li>
      <li class="posts__item">
        <a class="posts__link link" data-text="Post 1" href="/post/1">Post 1</a>
        <span class="posts__date">
          <time datetime="2019-02">2019-02</time>
        </span>
      </li>
      <li class="posts__item">
        <a class="posts__link link" data-text="Post 1" href="/post/1">Post 1</a>
        <span class="posts__date">
          <time datetime="2019-02">2019-02</time>
        </span>
      </li>
      <li class="posts__item">
        <a class="posts__link link" data-text="Post 1" href="/post/1">Post 1</a>
        <span class="posts__date">
          <time datetime="2019-02">2019-02</time>
        </span>
      </li>
      <li class="posts__item">
        <a class="posts__link link" data-text="Post 1" href="/post/1">Post 1</a>
        <span class="posts__date">
          <time datetime="2019-02">2019-02</time>
        </span>
      </li>
      <li class="posts__item">
        <a class="posts__link link" data-text="Post 1" href="/post/1">Post 1</a>
        <span class="posts__date">
          <time datetime="2019-02">2019-02</time>
        </span>
      </li>
      <li class="posts__item">
        <a class="posts__link link" data-text="Post 1" href="/post/1">Post 1</a>
        <span class="posts__date">
          <time datetime="2019-02">2019-02</time>
        </span>
      </li>
      <li class="posts__item">
        <a class="posts__link link" data-text="Post 1" href="/post/1">Post 1</a>
        <span class="posts__date">
          <time datetime="2019-02">2019-02</time>
        </span>
      </li>
      <li class="posts__item">
        <a class="posts__link link" data-text="Post 1" href="/post/1">Post 1</a>
        <span class="posts__date">
          <time datetime="2019-02">2019-02</time>
        </span>
      </li>
      <li class="posts__item">
        <a class="posts__link link" data-text="Post 1" href="/post/1">Post 1</a>
        <span class="posts__date">
          <time datetime="2019-02">2019-02</time>
        </span>
      </li>
      <li class="posts__item">
        <a class="posts__link link" data-text="Post 1" href="/post/1">Post 1</a>
        <span class="posts__date">
          <time datetime="2019-02">2019-02</time>
        </span>
      </li>
      <li class="posts__item">
        <a class="posts__link link" data-text="Post 1" href="/post/1">Post 1</a>
        <span class="posts__date">
          <time datetime="2019-02">2019-02</time>
        </span>
      </li>
      <li class="posts__item">
        <a class="posts__link link" data-text="Post 1" href="/post/1">Post 1</a>
        <span class="posts__date">
          <time datetime="2019-02">2019-02</time>
        </span>
      </li>
      <li class="posts__item">
        <a class="posts__link link" data-text="Post 1" href="/post/1">Post 1</a>
        <span class="posts__date">
          <time datetime="2019-02">2019-02</time>
        </span>
      </li>
    </ul>
  </section>
</div>
{{ end }}
