<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Sann-Remy Chea's homepage</title>
    <link rel="stylesheet" href="/static/{{index .GlobalViewData.StaticFiles "CSS"}}" type="text/css">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
  </head>
  <body class="page page--{{ .PageView }}">
    {{ template "partial-icons" }}
    {{ template "partial-navbar" }}

    {{ if eq .PageView "about" }}
      {{ template "page-about" }}
    {{ else if eq .PageView "posts" }}
      {{ template "page-posts" }}
    {{ end }}
    <script src="/static/{{index .GlobalViewData.StaticFiles "JS"}}"></script>
  </body>
</html>
