.Button {
  padding: 1em 2em;
  text-decoration: none;
  background: inherit;
  color: inherit;
  border-width: 2px;
  border-style: solid;
  min-width: 70px;
  text-align: center;

  &.Button--primary {
    border-color: #000;
    background: #fff;
    color: #000;
  }

  &:hover {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.12), 0 2px 4px 0 rgba(0,0,0,0.08);
  }
}
