doctype html
html(lang=language)
  head
    meta(charset='utf-8')
    link(rel='stylesheet', href='/main.css')
  body(class='Landing Landing--' + page)
    include ./utils/svg-icons

    #main-page.Page.Page--main
      include ./pages/main

    #story-page.Page.Page--story
      include ./pages/story

    #portfolio-page.Page.Page--portfolio
      include ./pages/portfolio

    script(src='/main.js')
