doctype html
head
  meta(charset='utf-8')
  link(rel='stylesheet', href='/main.css')
body.opacity-0
  .center(style='height: 100%; padding: 3em;')
    div#hello.Hello
    #see-story.Actions.hide
      a(id='story-button', href='/story', class='Button Button--primary') My Story
      div(style='width: 30px;')
      a(href='/cancel', class='Button Button--secondary') Cancel
  #expandable
  script(src='/main.js')
