doctype html
html(lang=language)
  head
    meta(charset='utf-8')
    meta(name='viewport', content='initial-scale=1.0, user-scalable=yes')
    link(rel='stylesheet', href='/main.css')
  body
    include ./utils/svg-icons

    .About
      #about-intro.About__Intro
      #about-button.About__Button.hide
        a(href='https://www.linkedin.com/in/srchea/')
          svg(viewBox='0 0 512 512', class='About__Button__Icon')
            use(xlink:href='#linkedin')
        a(href='https://github.com/srchea')
          svg(viewBox='0 0 512 512', class='About__Button__Icon')
            use(xlink:href='#github')
        a(href='https://www.instagram.com/srchea/')
          svg(viewBox='0 0 512 512', class='About__Button__Icon')
            use(xlink:href='#instagram')
        a(href='https://twitter.com/srchea')
          svg(viewBox='0 0 512 512', class='About__Button__Icon')
            use(xlink:href='#twitter')

    .BlueScreen 😵

    script(src='/main.js')
