@import 'components/link';
@import 'components/navbar';

::selection {
  background-color: #d9e4f5;
}

html {
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 400;
  height: 100%;
  line-height: 1.5;
}

.main {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 600px;
  padding-top: 60px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  margin: 0 auto;

  section,
  article {
    width: 100%;
  }

  time {
    color: #888;
    font-size: .8em;
  }

  .page--about & {
    height: 100%;
    padding-top: 20px;
    justify-content: center;
    text-align: center;
    max-width: 320px;
  }
}

// Posts
.posts {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: left;

  &__item {
    min-height: 44px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #f5e3e680;
    padding-right: 10px; // padding for post__date

    &:last-of-type {
      border-bottom: 0;
    }
  }

  &__date {
    padding-left: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

// Single post
.post {
  h1 {
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    font-size: 2.00em;
    font-weight: bold;
  }

  h2 {
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    font-size: 1.50em;
    font-weight: bold;
  }

  h3 {
    margin-block-start: 1.00em;
    margin-block-end: 1.00em;
    font-size: 1.17em;
    font-weight: bold;
  }

  h4 {
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    font-size: 1.00em;
    font-weight: bold;
  }

  h5 {
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    font-size: 0.83em;
    font-weight: bold;
  }

  h6 {
    margin-block-start: 2.33em;
    margin-block-end: 2.33em;
    font-size: 0.67em;
    font-weight: bold;
  }

  a {
    color: inherit;
    text-decoration: underline;

    &:hover {
      color: #888;
    }
  }
}

// About
.social-icons {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex: 1;
  justify-content: space-between;

  li {
    width: 42px;
  }
}

$margin: 20px;

.picture {
  margin: 0 auto;
  width: 128px;
  height: 128px;
  box-sizing: border-box;
  margin-bottom: $margin;

  img {
    width: 100%;
    border-radius: 100%;
  }
}

.name {
  font-size: 1.6em;
  font-weight: 200;
}

.description {
  margin-top: $margin;
  margin-bottom: $margin;
  color: #888;

  a {
    color: inherit;
    text-decoration: inherit;
  }
}
